* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url('loginback.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: transparent;
    padding: 35px 40px;
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    background-image: url('logo.png');          
}

.signup-form h2 {   
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.signup-form p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.signup-form hr {
    border: none;
    border-top: 2px solid whitesmoke;
    margin-bottom: 20px;
}

.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.signup-btn {
    width: 100%;
    padding: 12px;
    background-color: #3498db;  
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.signup-btn:hover { 
    background-color: #2980b9;
}

.forgot-text{
    text-align: right;
    font-size: 13px;
}
.forgot-text a{
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.login-text {
    text-align: center;
    font-size: 13px;
    margin-top: 9px;
}

.login-text a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.login-text a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
}
